<div fxLayout="column" fxFlex.xs="100%" fxFlex.gt-sm="100%" fxFlex.sm="100%" [ngStyle]="{'padding': '2%'}">

    <form *ngIf="controlDynamicStepsIn == 17">

        <div fxLayout="row">
            <div fxFlex.sm="100%" fxFlex.gt-sm="100%">
                <!-- NOME -->
                <md-input-container fxFlex.gt-sm="90%" fxFlex.sm="90%">
                    <input mdInput type="text" maxlength="60" placeholder="NOME" name="nameSpouseGuarantor2" [(ngModel)]="getSimulation().client.guarantor2.spouse.name"
                        [required]="getSimulation().client.guarantor2.isRequired">
                </md-input-container>
            </div>
        </div>
        <div fxLayout="row">
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- CPF -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input mdInput type="text" maxlength="15" placeholder="CPF" omegamask="999.999.999-99" name="cpfSpouseGuarantor2" [(ngModel)]="getSimulation().client.guarantor2.spouse.cpf"
                        [required]="getSimulation().client.guarantor2.isRequired">
                </md-input-container>
            </div>
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- SEXO -->
                <md-select fxFlex.gt-sm="80%" fxFlex.sm="70%" class="bug-input" placeholder="SEXO" name="sexSpouseGuarantor2" [(ngModel)]="getSimulation().client.guarantor2.spouse.sex"
                    [required]="getSimulation().client.guarantor2.isRequired">
                    <md-option *ngFor="let ls of getListSex()" [value]="ls.name">
                        {{ ls.name }}
                    </md-option>
                </md-select>
            </div>
        </div>
        <div fxLayout="row">
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- DATA DE NASCIMENTO -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input mdInput [mdDatepicker]="picker" placeholder="DATA DE NASCIMENTO" name="dateSpouseBirthdayGuarantor2" [(ngModel)]="getSimulation().client.guarantor2.spouse.birthDate"
                        [required]="getSimulation().client.guarantor2.isRequired">
                    <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
                </md-input-container>
                <md-datepicker #picker></md-datepicker>
            </div>
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- UF NATURALIDADE -->
                <md-select fxFlex.gt-sm="80%" fxFlex.sm="70%" class="bug-input" placeholder="UF" name="provinceSpouseGuarantor2" [(ngModel)]="getSimulation().client.guarantor2.spouse.province.id">
                    <md-option *ngFor="let lp of getListProvince()" [value]="lp.id">
                        {{ lp.description }}
                    </md-option>
                </md-select>
            </div>
        </div>
        <div fxLayout="row">
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- NUMERO DO DOCUMENTO -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input mdInput type="text" maxlength="20" placeholder="NUMERO DO DOCUMENTO" name="numberDocumentSpouseGuarantor2" [(ngModel)]="getSimulation().client.guarantor2.spouse.numberDocument">
                </md-input-container>
            </div>
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- ÔRGÃO EMISSOR -->
                <md-select fxFlex.gt-sm="80%" fxFlex.sm="70%" class="bug-input" placeholder="ÔRGÃO EMISSOR" name="issuingBodySpouseGuarantor2"
                    [(ngModel)]="getSimulation().client.guarantor2.spouse.issuingBody.id">
                    <md-option *ngFor="let lib of getListIssuingBody()" [value]="lib.id">
                        {{ lib.description }}
                    </md-option>
                </md-select>
            </div>
        </div>
        <div fxLayout="row">
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- NOME DA EMPRESA -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input mdInput type="text" maxlength="50" placeholder="NOME DA EMPRESA" name="nameCompanySpouseGuarantor2" [(ngModel)]="getSimulation().client.guarantor2.spouse.company.name">
                </md-input-container>
            </div>
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- OCUPACAO -->
                <md-select fxFlex.gt-sm="80%" fxFlex.sm="70%" class="bug-input" placeholder="OCUPACAO" name="occupationSpouseGuarantor2"
                    [(ngModel)]="getSimulation().client.guarantor2.spouse.company.occupation.id">
                    <md-option *ngFor="let lo of getListOccupation()" [value]="lo.id">
                        {{ lo.description }}
                    </md-option>
                </md-select>
            </div>
        </div>
        <div fxLayout="row">
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- CARGO / FUNCAO -->
                <md-select placeholder="CARGO / FUNCAO" fxFlex.gt-sm="80%" fxFlex.sm="70%" class="bug-input" name="positionFunctionSpouseGuarantor2"
                    [(ngModel)]="getSimulation().client.guarantor2.spouse.company.profession.id">
                    <md-option *ngFor="let lpf of getListPositionFunction()" [value]="lpf.id">
                        {{ lpf.description }}
                    </md-option>
                </md-select>
            </div>
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- DATA DE ADMISSAO -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input mdInput [mdDatepicker]="picker2" placeholder="DATA DA ADMISSAO" name="admissionDateSpouseGuarantor2" [(ngModel)]="getSimulation().client.guarantor2.spouse.company.admissionDate">
                    <md-datepicker-toggle mdSuffix [for]="picker2"></md-datepicker-toggle>
                </md-input-container>
                <md-datepicker #picker2></md-datepicker>
            </div>
        </div>
        <div fxLayout="row">
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!--RENDA MENSAL -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input mdInput type="text" currencyMask placeholder="RENDA MENSAL" name="monthlyIncomeSpouseGuarantor2" [(ngModel)]="getSimulation().client.guarantor2.spouse.company.monthlyIncome">
                </md-input-container>
            </div>
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- TELEFONE CELULAR -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input mdInput ngControl maxlength="14" placeholder="{{'lb-cellphone' | translate | uppercase}}" omegamask="(99)99999-9999"
                        type="text" name="phoneSpouseGuarantor2" [(ngModel)]="getSimulation().client.guarantor2.spouse.company.comercialPhone.number" />
                </md-input-container>
            </div>
        </div>
        <div fxLayout="row">
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!--RAMAL -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input mdInput type="text" maxlength="4" placeholder="RAMAL" name="branchSpouseGuarantor2" [(ngModel)]="getSimulation().client.guarantor2.spouse.company.comercialPhone.extension">
                </md-input-container>
            </div>
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
            </div>
        </div>

        <div fxLayout="row">
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%" fxLayoutAlign="end none">
            </div>
            <div fxFlex.sm="50%" fxFlex.gt-sm="60%" fxLayoutAlign="center center" [ngStyle]="{'padding-top':'15px'}">
                <button type="button" fxFlex.xs="100%" fxFlex.gt-sm="62%" fxFlex.sm="100%" (click)="nextStep()" md-raised-button color="primary">DADOS PROFISSIONAIS AVALISTA 2</button>
            </div>
        </div>

    </form>
</div>