<!-- FOOTER -->
<md-toolbar [ngStyle]="{'background-color': '#E6E6E6', 'position': 'absolute', 'left': 0}" [ngStyle.xs]="{'margin': 0}" class="footer">
    <!--<div fxLayoutAlign="start none">-->
    <p [ngStyle.xs]="{'font-size': '10px'}"  class="fonte">Release : 1.0.0-SNAPSHOT - 28/06/2017 08:59</p>
    <!--</div>-->

    <div fxLayout="column" [ngStyle]="{'float': 'right', 'padding': '0', 'position': 'absolute', 'right': '1%'}">
        <div class="logo-footer"></div>
        <!--<img src="../assets/images/logo_3.png" />-->
    </div>
</md-toolbar>